@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 192rem;
}
/* HEADER */

header {
    border: 1px solid red;
    width: 100%;
    height: 12.8rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header {
    /* border: 1px solid red; */
    width: 142rem;
    height: 6.7rem;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    /* border: 1px solid red; */
    width: 27.9rem;
    height: 100%;
}

.menu {
    /* border: 1px solid red; */
    width: 101.9rem;
    height: 100%;
    font-size: 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    /* border: 1px solid red; */
    width: 80.7rem;
    height: 5.2rem;
    display: flex;
    justify-content: end;
    gap: 1.2rem;
}

.menu li {
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    /* border: 1px solid green; */
    text-decoration: none;
}

.menu ul li a {
    /* border: 1px solid green; */
    text-decoration: none;
    padding: 1rem 1.4rem 1rem 1.4rem;
}

.download {
    /* border: 1px solid red; */
    width: 18.8rem;
    height: 5.2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD6F00;
    color: #FFFFFF;
}

/*HEADER*/
/*MAIN*/

main {
    border: 1px solid red;
    width: 100%;
    display: flex;
}